.message{
    width: 100%;
    padding: 1em;
    border: 1px solid #000;
    margin:0 auto;
    text-align: center;
    margin-bottom: 2em;
    border-radius: 5px;
}

.success{
    color:  #ffffff;
    background: #5fb06d;
    border-color: #c3e6cb;
}

.error{
    color: #ffffff;
    background-color:#e54444;
    border-color: #f5c6cb
}